<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.com.qrunveil</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
    <key>UIApplicationShortcutItems</key>
    <array>
        <dict>
            <key>UIApplicationShortcutItemType</key>
            <string>com.qrunveil.scanQR</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>Scan QR Code</string>
            <key>UIApplicationShortcutItemSubtitle</key>
            <string>Quickly scan a QR code</string>
            <key>UIApplicationShortcutItemIconType</key>
            <string>UIApplicationShortcutIconTypeQRCode</string>
        </dict>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.qrunveil</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>qrunveil</string>
            </array>
        </dict>
    </array>
    <key>INIntentsSupported</key>
    <array>
        <string>QRScanIntent</string>
    </array>

    <key>NSUserActivityTypes</key>
    <array>
        <string>QRScanIntent</string>
    </array>
</dict>
</plist>
